!! rxvt-unicode settings
URxvt*font:             xft:Knack Nerd Font:size=12
URxvt*urlLauncher:      firefox

!! rxvt-unicode interface
URxvt*borderLess:       false
URxvt*externalBorder:   0
URxvt*internalBorder:   0
URxvt*borderColor:      #fafafa
URxvt*scrollBar:        false

!! Color scheme generated with terminal.sexy, and based on the One Light
!! color scheme by https://github.com/rakr/vim-one

! special
*.foreground:   #494b53
*.background:   #fafafa
*.cursorColor:  #494b53

! black
*.color0:       #494b53
*.color8:       #696c77

! red
*.color1:       #e45649
*.color9:       #ca1243

! green
*.color2:       #50a14f
*.color10:      #50a14f

! yellow
*.color3:       #c18401
*.color11:      #986801

! blue
*.color4:       #4078f2
*.color12:      #4078f2

! magenta
*.color5:       #a626a4
*.color13:      #a626a4

! cyan
*.color6:       #0184bc
*.color14:      #0184bc

! white
*.color7:       #a0a1a7
*.color15:      #c2c2c3
